#donation-tab {
    margin-left: 231px;
    margin-top: 60.8px;
    width: calc(100vw - 231px);
    height: calc(100vh - 60.8px);
    background-color: #f7f9f9;
    display: none;
}

#donation-tab .donation-tab-header {
    display: flex;
    justify-content: space-between;
}

/* search type */

#donation-tab .donation-tab-search {
    margin: 40px 0px 0px 70px;
    display: flex;
    align-items: center;
    gap: 30px;
}

#donation-tab .donation-tab-search-type {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10xp;
    padding: 6px;
    width: 250px;
    background-color: #fff;
    border: 1px solid #495057;
    color: #ced4da;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

#donation-tab .donation-tab-search-type-active {
    color: #343a40;
}

#donation-tab .donation-tab-search-type:hover .donation-type-list:not(.hidden) {
    display: block;
}

#donation-tab .donation-tab-search-type .donation-type-list {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    background: #fff;
    list-style: none;
    padding: 10px;
    margin-top: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    display: none;
}

#donation-tab .donation-tab-search-type .donation-type-list .donation-type-list-item {
    font-size: 1.1rem;
    color: #343a40;
    padding-bottom: 10px;
    display: block;
    cursor: pointer;
}

#donation-tab .donation-tab-search-type .donation-type-list .donation-type-list-item:hover {
    color: #5390d9;
}

/* search method */

#donation-tab .donation-tab-search-method {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10xp;
    padding-left: 6px;
    min-width: 170px;
    height: 35px;
    background-color: #fff;
    border: 1px solid #495057;
    color: #ced4da;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

#donation-tab .donation-tab-search-method-active {
    color: #343a40;
}

#donation-tab .donation-tab-search-method:hover .donation-method-list:not(.hidden) {
    display: block;
}

#donation-tab .donation-tab-search-method .donation-method-list {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    background: #fff;
    list-style: none;
    padding: 10px;
    margin-top: 1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    display: none;
}

#donation-tab .donation-tab-search-method .donation-method-list .donation-method-list-item {
    font-size: 1.1rem;
    color: #343a40;
    padding-bottom: 7px;
    display: block;
    cursor: pointer;
}

#donation-tab .donation-tab-search-method .donation-method-list .donation-method-list-item:hover {
    color: #5390d9;
}

/* create button */

#donation-tab .donation-tab-button {
    margin: 40px 70px 0px 0px;
}

#donation-tab .donation-tab-create-btn {
    padding: 10px 20px;
    background-color: #5390d9;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}


#donation-tab .donation-tab-body {
    margin: 50px 40px;
}

/* Table */

#donation-tab table {
    margin: auto;
    border-collapse: collapse;
    width: 95%;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#donation-tab tr {
    transition: all .2s ease-in;
    cursor: pointer;
}

#donation-tab table .table-row {
    background-color: #fff;
}

#donation-tab table .table-row:hover {
    background: #f5f5f5;
    transform: scale(1.02);
}

#donation-tab table .table-row-hide {
    display: none;
}

#donation-tab td,
th {
    height: 40px;
    border-bottom: 1px solid #ddd;
}

#donation-tab .table-header {
    background: #5e60ce;
    color: #fff;
}

#donation-tab .table-icons .table-icon {
    width: 25px;
    height: 25px;
}

#donation-tab .table-icons .table-icon:hover {
    fill: #5e60ce;
}

/*  create new modal */

#donation-tab .donation-modal-container,
#donation-tab .edit-donation-modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 30;
}

#donation-tab .donation-modal-open,
#donation-tab .edit-donation-modal-open {
    opacity: 1;
    pointer-events: auto;
}

#donation-tab .donation-modal-container .donation-modal,
#donation-tab .edit-donation-modal-container .edit-donation-modal {
    background: #fff;
    width: 700px;
    max-width: 100%;
    padding: 20px 30px;
    border-radius: 5px;
}

#donation-tab .donation-modal-container .donation-modal .donation-modal-title,
#donation-tab .edit-donation-modal-container .edit-donation-modal .edit-donation-modal-title {
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 20px;
    color: #5e60ce;
}

#donation-tab .donation-modal-input,
#donation-tab .edit-donation-modal-input {
    display: block;
}

#donation-tab .donation-modal-container .donation-modal .input-item,
#donation-tab .edit-donation-modal-container .edit-donation-modal .edit-input-item {
    font-size: 1.1rem;
    padding-bottom: 30px;
    color: #03045e;
}

#donation-tab .donation-modal-container .donation-modal .input-item input,
#donation-tab .edit-donation-modal-container .edit-donation-modal .edit-input-item input {
    width: 100%;
    height: 25px;
    border-radius: 4px;
    padding-left: 8px;
    border: 1px solid #5390d9;
    font-size: 1rem;
    padding: 5px;
}

#donation-tab .input-charge-type,
#donation-tab .edit-input-charge-type {
    position: relative;
    padding-top: 5px;
    margin-bottom: 11px;
}

#donation-tab .donation-input-type-body,
#donation-tab .edit-donation-input-type-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    border: 1px solid #5390d9;
    font-size: 1rem;
    width: 100%;
    height: 25px;
    padding: 5px;
    background-color: #fff;
}

#donation-tab .donation-input-type-list,
#donation-tab .edit-donation-input-type-list {
    position: absolute;
    width: 100%;
    top: 63px;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 30;
}

#donation-tab .input-charge-type:hover .donation-input-type-list:not(.hidden),
#donation-tab .edit-input-charge-type:hover .edit-donation-input-type-list:not(.hidden) {
    display: block;
}

#donation-tab .input-charge-type:hover .donation-input-type-list-item,
#donation-tab .edit-input-charge-type:hover .edit-donation-input-type-list-item {
    font-size: 1.1rem;
    padding: 4px 14px;
    display: block;
    cursor: pointer;
}

#donation-tab .input-charge-type:hover .donation-input-type-list-item:hover,
#donation-tab .edit-input-charge-type:hover .edit-donation-input-type-list-item:hover {
    color: #5390d9;
}

/* payment method in modal */

#donation-tab .input-method,
#donation-tab .edit-input-method {
    position: relative;
}

#donation-tab .input-method-list,
#donation-tab .edit-input-method-list {
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    right: 0;
    padding: 10px 0px 0px 10px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    display: none;
}

#donation-tab .input-method:hover .input-method-list:not(.hidden),
#donation-tab .edit-input-method:hover .edit-input-method-list:not(.hidden) {
    display: block;
}

#donation-tab .input-method-list-item,
#donation-tab .edit-input-method-list-item {
    font-size: 1.1rem;
    color: #03045e;
    padding-bottom: 7px;
    display: block;
    cursor: pointer;
}

#donation-tab .input-method-list-item:hover,
#donation-tab .edit-input-method-list-item:hover {
    color: #5390d9;
}

/* button in modal */

#donation-tab .donation-modal-footer,
#donation-tab .edit-donation-modal-footer {
    display: flex;
    justify-content: space-between;
}

#donation-tab .donation-modal-close-button,
#donation-tab .edit-donation-modal-close-button {
    font-size: 1.3rem;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f72585;
    margin-right: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
}

#donation-tab .donation-modal-save-button,
#donation-tab .edit-donation-modal-save-button {
    font-size: 1.3rem;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #5390d9;
    color: #fff;
    border: none;
    cursor: pointer;
}