#service-tab {
    margin-left: 231px;
    margin-top: 60.8px;
    width: calc(100vw - 231px);
    height: calc(100vh - 60.8px);
    background-color: #f7f9f9;
    display: none;
}

#service-tab input {
    outline: none;
}

#service-tab .service-tab-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 70px;
    padding-top: 40px;
}

/* button */
#service-tab .service-tab-button {
    display: flex;
    gap: 20px;
}

#service-tab .service-tab-create-btn {
    padding: 10px 20px;
    background-color: #979dac;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #5390d9;
}

/* search area */
#service-tab .service-tab-search {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

#service-tab .service-tab-search input {
    padding: 10px;
    border: none;
    font-size: 1rem;
}

#service-tab .service-tab-search-icon {
    width: 30px;
    cursor: pointer;
}

/* table */
#service-tab .service-tab-body table {
    margin: auto;
    border-collapse: collapse;
    width: 95%;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#service-tab .service-tab-body tr {
    transition: all .2s ease-in;
    cursor: pointer;
}

#service-tab .service-tab-body table .table-row {
    background-color: #fff;
}

#service-tab .service-tab-body table .table-row:hover {
    background: #f5f5f5;
    transform: scale(1.02);
}

#service-tab .service-tab-body table .table-row-hide {
    display: none;
}

#service-tab .service-tab-body td,
.service-tab-body th {
    height: 40px;
    border-bottom: 1px solid #ddd;
}

#service-tab .service-tab-body .table-header {
    background: #5e60ce;
    color: #fff;
}

#service-tab .service-tab-body .table-icons .table-icon {
    width: 25px;
    height: 25px;
}

#service-tab .service-tab-body .table-icons .table-icon:hover {
    fill: #5e60ce;
}

/* modal */
#service-tab .service-modal-container,
#service-tab .edit-service-modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 30;
}

#service-tab .service-modal-open,
#service-tab .edit-service-modal-open {
    opacity: 1;
    pointer-events: auto;
}

#service-tab .service-modal-container .service-modal,
#service-tab .edit-service-modal-container .edit-service-modal {
    background: #fff;
    width: 700px;
    max-width: 100%;
    padding: 20px 30px;
    border-radius: 5px;
}

#service-tab .service-modal-title,
#service-tab .edit-service-modal-title {
    font-size: 20px;
    font-weight: 650;
    margin-bottom: 20px;
    color: #5e60ce;
}

/* modal button */
#service-tab .service-modal-footer,
#service-tab .edit-service-modal-footer,
#service-tab .bill-modal-footer {
    display: flex;
    justify-content: space-between;
}

#service-tab .service-modal-container .service-modal-close-button,
#service-tab .edit-service-modal-container .edit-service-modal-close-button,
#service-tab .bill-modal-close-button {
    font-size: 1.3rem;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f72585;
    margin-right: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
}

#service-tab .service-modal-save-button,
#service-tab .edit-service-modal-save-button,
#service-tab .bill-modal-print-button {
    font-size: 1.3rem;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #5390d9;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* payment ethod list in modal  */
#service-tab .service-input-payment-method,
#service-tab .edit-service-input-payment-method {
    position: relative;
}

#service-tab .service-payment-method-list,
#service-tab .edit-service-payment-method-list {
    position: absolute;
    width: 461px;
    top: 30px;
    margin-left: 216px;
    padding: 10px 0px 0px 10px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    display: none;
}

#service-tab .service-input-payment-method:hover .service-payment-method-list:not(.hidden),
#service-tab .edit-service-input-payment-method:hover .edit-service-payment-method-list:not(.hidden) {
    display: block;
}

#service-tab .service-payment-method-list-item,
#service-tab .edit-service-payment-method-list-item {
    font-size: 1.1rem;
    color: #03045e;
    padding-bottom: 7px;
    display: block;
    cursor: pointer;
}

#service-tab .service-payment-method-list-item:hover,
#service-tab .edit-service-payment-method-list-item:hover {
    color: #5390d9;
}

/* input in modal */
#service-tab .service-modal .service-input-text,
#service-tab .edit-service-modal .edit-service-input-text {
    font-size: 1rem;
    font-weight: 550;
    width: 300px;
}

#service-tab .service-input-apartment-name,
#service-tab .service-input-time,
#service-tab .service-input-amount-paid,
#service-tab .service-input-payment-method,
#service-tab .edit-service-input-apartment-name,
#service-tab .edit-service-input-time,
#service-tab .edit-service-input-amount-paid,
#service-tab .edit-service-input-payment-method {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

#service-tab .service-input-apartment-name,
#service-tab .edit-service-input-apartment-name {
    margin-bottom: 40px;
}

#service-tab .service-modal input:not(.inputInTable),
#service-tab .edit-service-modal input:not(.inputInTable) {
    border: none;
    outline: none;
    border-bottom: 2px solid #5e60ce;
    padding: 5px;
    font-size: 1rem;
    width: 100%;
}

#service-tab .service-input-service-charges-list,
#service-tab .edit-service-input-service-charges-list {
    margin-bottom: 25px;
}

/* table in modal */
#service-tab .service-input-service-charges-list .inputInTable,
#service-tab .edit-service-input-service-charges-list .inputInTable {
    outline: none;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 1.1rem;
    text-align: center;
}

#service-tab .service-input-service-charges-list table,
#service-tab .edit-service-input-service-charges-list table {
    margin: auto;
    border-collapse: collapse;
    width: 95%;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#service-tab .service-tab-body td,
.service-tab-body th,
#service-tab .edit-service-tab-body td,
.edit-service-tab-body th {
    height: 40px;
    border-bottom: 1px solid #ddd;
}

#service-tab .service-input-service-charges-list .table-header,
#service-tab .edit-service-input-service-charges-list .table-header {
    font-size: 1.1rem;
    font-weight: 650;
    background: #5e60ce;
    color: #fff;
}

#service-tab .service-input-service-charges-list table .table-row,
#service-tab .edit-service-input-service-charges-list table .table-row {
    font-size: 1.1rem;
    background-color: #fff;
}

#service-tab .service-input-service-charges-list td,
#service-tab .service-input-service-charges-list th,
#service-tab .edit-service-input-service-charges-list td,
#service-tab .edit-service-input-service-charges-list th {
    height: 40px;
    border: 1px solid #03045e;
}

/* bill modal */
#service-tab .bill-modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    overflow: hidden;
    z-index: 30;
}

#service-tab .bill-modal-open {
    opacity: 1;
    pointer-events: auto;
}

#service-tab .bill-modal {
    background: #fff;
    width: 750px;
    max-width: 100%;
    padding: 20px 30px;
    border-radius: 5px;
}

#service-tab .bill-modal-title {
    font-size: 1.6rem;
    font-weight: 750;
    text-align: center;
    margin: 20px 0px;
    color: #5e60ce;
}

/* bill header */
#service-tab .bill-modal-header {
    display: flex;
    align-items: center;
    gap: 40px;
}

#service-tab .bill-header-left-side {
    width: 100px;
    display: block;
    text-align: center;
}

#service-tab .bill-header-logo {
    width: 70px;
}

#service-tab .bill-header-right-side {
    display: block;
    font-size: 1.1rem;
}

#service-tab .bill-header-right-side p {
    margin: 10px;
}

/* table in bill */
#service-tab .bill-modal-table table {
    margin: auto;
    border-collapse: collapse;
    width: 95%;
    text-align: center;
}

#service-tab .bill-table-1 thead,
#service-tab .bill-table-2 thead {
    background: #5e60ce;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 650;
}

#service-tab .bill-table-1 th,
#service-tab .bill-table-2 th {
    padding: 5px;
}

#service-tab .bill-table-1 th:nth-child(2),
#service-tab .bill-table-2 th:nth-child(2) {
    border-left: 2px solid #adb5bd;
    border-right: 2px solid #adb5bd;
}

#service-tab .bill-table-2 th:nth-child(3),
#service-tab .bill-table-2 th:nth-child(4) {
    border-right: 2px solid #adb5bd;
}

#service-tab .bill-table-1 tbody,
#service-tab .bill-table-2 tbody {
    font-size: 1.2rem;
    height: 50px;
}

#service-tab .bill-table-1 input,
#service-tab .bill-table-2 input {
    outline: none;
    border: none;
    /* border-bottom: 2px solid #4ea8de; */
    width: 70%;
    font-size: 1.1rem;
    padding: 5px;
    text-align: center;
}

#service-tab .bill-table-1 td {
    border: 2px solid #adb5bd;
    border-bottom: none;
}

#service-tab .bill-table-2 .nameCol {
    width: 200px;
}

#service-tab .bill-table-2 .quantityCol {
    width: 110px;
}

#service-tab .bill-table-2 td {
    border: 2px solid #adb5bd;
    padding: 10px;
}

#service-tab .bill-table-2 tfoot {
    background-color: #6930c3;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 550;
}

#service-tab .bill-table-2 tfoot td {
    padding: 10px;
    border: none;
}

#service-tab .bill-table-2 tfoot td:first-child {
    border-right: 2px solid #adb5bd;
}

#service-tab .bill-modal-amount-paid,
#service-tab .bill-modal-amount-due {
    display: flex;
    align-items: center;
    margin: 20px 20px;
}

#service-tab .bill-modal-amount-paid span,
#service-tab .bill-modal-amount-due span {
    font-size: 1.1rem;
    width: 200px;
}

#service-tab .bill-modal-amount-paid input,
#service-tab .bill-modal-amount-due input {
    outline: none;
    border: none;
    border-bottom: 2px solid #4ea8de;
    width: 30%;
    font-size: 1.1rem;
    padding: 5px;
    text-align: left;
}

/* search filter */

#service-tab .service-tab-filter {
    display: flex;
    align-items: center;
    gap: 30px;
}

#service-tab .service-tab-search-status {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10xp;
    padding-left: 6px;
    min-width: 230px;
    height: 35px;
    background-color: #fff;
    border: 1px solid #495057;
    color: #ced4da;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

#service-tab .service-tab-search-status-active {
    color: #343a40;
}

#service-tab .service-tab-search-status:hover .service-status-list:not(.hidden) {
    display: block;
}

#service-tab .service-tab-search-status .service-status-list {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    background: #fff;
    list-style: none;
    padding: 10px;
    margin-top: 1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    display: none;
}

#service-tab .service-status-list-item {
    font-size: 1.1rem;
    color: #343a40;
    padding-bottom: 7px;
    display: block;
    cursor: pointer;
}

#service-tab .service-status-list-item:hover {
    color: #5390d9;
}