#nav {
    display: flex;
    position: fixed;
    width: calc(100vw - 230.8px);
    align-items: center;
    justify-content: space-between;
    margin-left: 231px;
    border-bottom: 1px solid #adb5bd;
    background-color: #fff;
}

#nav .nav-menu {
    display: flex;
    padding: 10px 15px;
}

#nav .nav-menu-item {
    font-size: 1.1rem;
    font-weight: 500;
}

#nav .nav-icon {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

#nav .nav-item {
    width: 30px;
    cursor: pointer;
}

#nav .nav-item:hover {
    fill: #5390d9;
}

#nav .nav-national-img {
    width: 35px;
    cursor: pointer;
}

#nav .nav-user {
    position: relative;
}

#nav .nav-user .user-img {
    display: flex;
    align-items: center;
}

#nav .nav-user .nav-user-img {
    width: 40px;
    border-radius: 50%;
}

#nav .nav-user .nav-user-icon {
    width: 25px;
    cursor: pointer;
}

#nav .user-list-options {
    position: absolute;
    display: block;
    top: 116%;
    left: -215px;
    width: 300px;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    display: none;
}

#nav .user-list-info {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 10px;
    padding: 5px;
}

#nav .user-options {
    display: block;
}


#nav .user-options-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 3px;
    font-size: 1.1rem;
    border-radius: 10px;
    cursor: pointer;
}

#nav .user-options-item:hover {
    background-color: #e9ecef;
}

#nav .user-options-item-left-side {
    display: flex;
    align-items: center;
    gap: 5px;
}